@model IEnumerable<Proyecto.Models.Servicio>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Listado.cshtml";
}
<br />
<h2>Listado Servicio</h2>

<br />
<br />
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Descripcion
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
        </tr>
    }

</table>
