
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h1>Erwin Detailing</h1>
    <p class="lead">Somos una empresa de DETAILING Profesional dedicada a la estética automotriz de alta gama. En nuestra tienda vas a encontrar los mejores productos para el cuidado restauración y protección de automóviles.</p>
    
</div>